<h5>Y-Axis</h5>
<div class="checkbox">
    <label>
        <input type="checkbox" name="dependentAxisOrient">Left align the Y axis
    </label>
</div>

<h5>Key</h5>
<div class="checkbox">
    <label>
        <input type="checkbox" name="horizontalKey" checked>Display Key Horizontally
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="hoverKey">Display Key over chart
    </label>
</div>

<h5>Plot</h5>
<div class="checkbox">
    <label>
        <input type="checkbox" name="stack" value="stack">Stacked columns
    </label>
</div>
