<div class="checkbox">
    <label>
        <input type="checkbox" name="stack" value="stack">Stacked bars
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="flipXAxis">X axis on the bottom
    </label>
</div>
