<div class="checkbox">
    <label>
        <input type="checkbox" name="stack" value="stack">Stacked columns
    </label>
</div>

<div class="checkbox">
    <label>
        <input type="checkbox" name="horizontalKey" checked>Display 'Key' Horizontally
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="hoverKey">Display 'Key' over chart
    </label>
</div>
<!--<label>-->
    <!--<input type="radio" name="groupDates" value="monthly">Monthly-->
<!--</label>-->
<!--<label>-->
    <!--<input type="radio" name="groupDates" value="quarterly"> Quarterly Dates-->
<!--</label>-->
<!--<label>-->
    <!--<input type="radio" name="groupDates" value="yearly">Yearly-->
<!--</label>-->
