<h5>X-Axis</h5>
<div class="checkbox">
    <label>
        <input type="checkbox" name="dependentAxisOrient">Bottom align the X axis
    </label>
</div>

<h5>Key</h5>
<div class="checkbox">
    <label>
        <input type="checkbox" name="horizontalKey">Display Key Horizontally
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="hoverKey">Display Key over chart
    </label>
</div>


<h5>Plot</h5>
<div class="checkbox">
    <label>
        <input type="checkbox" name="stack" value="stack">Stacked bars
    </label>
</div>
