<div class="checkbox">
    <label>
        <input type="checkbox" name="stack" value="stack">Stacked bars
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="dependentAxisOrient">X axis on the bottom
    </label>
</div>

<div class="checkbox">
    <label>
        <input type="checkbox" name="horizontalKey">Display 'Key' Horizontally
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="hoverKey">Display 'Key' over chart
    </label>
</div>
