<div class="checkbox">
    <label>
        <input type="checkbox" name="startFromZero">Y axis starts from zero
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="dependentAxisOrient">Left align the Y axis
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="dependentAxisReversed">Reverse Y Values
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="nice">Round values for Y axis
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="thinLines">Thin lines
    </label>
</div>
