<div class="checkbox">
    <label>
        <input type="radio" name="groupDates" value="false">No
    </label>
    <!--<label>-->
        <!--<input type="radio" name="groupDates" value="monthly">Monthly-->
    <!--</label>-->
    <label>
        <input type="radio" name="groupDates" value="quarterly">Quarterly
    </label>
    <!--<label>-->
        <!--<input type="radio" name="groupDates" value="yearly">Yearly-->
    <!--</label>-->
</div>
