<div class="radio">
  <label>
    <input type="radio" name="datatype" value="categorical">
    Category
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="datatype" value="numeric">
    Value <span class="text-muted">numbers, currency, percentages</span>
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="datatype" value="time">
    Time <span class="text-muted">continuous time, years, months, days.</span>
  </label>
</div>
