<label>Columns</label>
<table class="table table-condensed">
  <thead>
    <tr class="group-header-row">
      <th>&nbsp;</th>
      <th colspan="4">Axis</th>
    </tr>
    <tr>
      <th class="property-col"></th>
      <th class="radio-col algebra-variable">x</th>
      <th class="radio-col algebra-variable">y</th>
      <!-- We dont yet have charts that can have 3 axes
      <th class="radio-col">3<sup>rd</sup></th>
      -->
      <th class="radio-col">None</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<div class="help-block">Configure the axis for each column.</div>
