<div class="view-importdata__content">
  <h1 class="text-center import-data-title">Import spreadsheet data</h1>
  <div class="form-group">
    <input type="file" style="display:none" name="file" accept="text/plain,text/csv,text/tsv" />
    <div class="text-center help-block lead"><label>You can either paste cells, drag+drop or</label><button name="select-file" style="margin:0 0 4px 0;padding-left:6px;padding-right:6px;font-size:21px;font-weight:bold;" class="btn btn-link btn-lg">pick a file</button></div>
    <div class="warning-message"></div>
    <p class="text-center help-block"><small>Files must be <a data-placement="bottom" data-help="WHAT_IS_CSV" target="_blank" href="http://en.wikipedia.org/wiki/Comma-separated_values">CSV</a> or <a target="_blank" data-placement="bottom" data-help="WHAT_IS_TSV" href="http://en.wikipedia.org/wiki/Tab-separated_values">TSV</a> format. XLS format coming soon.</small></p>
  </div>
  <div class="form-group">
    <div class="alert text-center alert-danger error-message" role="alert">&nbsp;</div>
  </div>
  <!--
  <div class="text-center">
      <label class="text-muted" style="font-size:12px;font-weight:normal;margin:0;vertical-align:middle;">Just testing? Use a training dataset:</label>
      <div class="btn-group">
        <button type="button" class="btn btn-link btn-xs" style="padding-left:0;padding-right:0;color:#666;">GDP per capita dsdsa</button>
        <button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">GDP per capita</a></li>
          <li><a href="#">Something else</a></li>
        </ul>
      </div>
    </div>
    -->
</div>
