<div class="alert text-center alert-success" role="alert">{{numRows}} rows of data imported</div>
<div data-region="columns"></div>
<br/>
<button type="button" class="btn btn-danger btn-lg btn-block" name="discard">
  Discard data
</button>
