<div>
  <table class="table table-bordered table-condensed">
    <tbody>
      <tr>
        <th class="property-name">Variation</th>
        <td class="property-value">{{variation.variationName}}</td>
      </tr>
      <tr>
        <th class="property-name">Width</th>
        <td class="property-value">{{variation.width}}</td>
      </tr>
      <tr>
        <th class="property-name">Height</th>
        <td class="property-value">{{variation.height}}</td>
      </tr>
      <tr>
        <th class="property-name">Chart type</th>
        <td class="property-value">{{graphicType.typeName}}</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div data-region="graphic-type-controls"></div>
  <div class="view-export-controls">
    <button role="button" type="button" name="save" class="btn btn-lg btn-block btn-primary">Save image</button>
  </div>
</div>
