<div>
  <h1>{{graphicType.typeName}} <small>{{variation.variationName}} - {{variation.width}}x{{variation.height}}</small></h1>
  <button role="button" type="button" name="save" class="btn btn-lg btn-block btn-primary">Save image</button>
</div>
