@import "variables";

svg {
    .chart-title:hover,
    .chart-subtitle:hover,
    .chart-source:hover,
    .chart-footnote:hover {
        fill: $link-hover-color;
        text-decoration: underline;
    }
}

#charts {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 360px;
    right: 360px;
    overflow-x: hidden;
    background-color: #e5e5e5;
    box-shadow: inset 0px 0px 17px -4px rgba(0, 0, 0, 0.42);
    transition: $transition-time right;

    &.full {
        right: 0;
    }

}

#charts::-webkit-scrollbar {
    background: transparent;
    width: 17px;
}

#charts::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0.12);
}

.view-graphic-variation-collection {

    display: block;


    &:nth-child(n+3) h2 {
        visibility: hidden;
    }

    h2 {
        margin-left: 15px;
        border-top: 4px solid #D0D0D0;

        .recommended {
            transform: scale(0.8, 0.8);
        }

        &:first-child {
            margin-top: 10px;
        }

    }
    div.variations-container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: flex-start;
        margin-left: 15px;
        .view-graphic-variation {
            margin-right: 15px;
            &.small {
                width: 30%;
            }

            &.regular {
                width: 60%;
            }

            &.large {
                width: 100%;
            }

            .graphic-container {
                border: 3px solid transparent;
                background-color: transparent;
                display: block;
                box-sizing: content-box;
                &:hover {
                    border-color: rgba(0, 0, 0, .7);
                    cursor: pointer;
                }
                &.selected {
                    border-color: rgba(0, 0, 125, .7);
                    cursor: pointer;
                }
                &.error {
                    border-color: $btn-danger-border;
                }
                .graphic {
                    background-color: #ffffff;
                }
            }
        }
    }
}

.theme--ft-print .ft-web-theme ,
.theme--ft-print .ft-video-theme ,
.theme--ft-video .ft-web-theme ,
.theme--ft-video .ft-print-theme ,
.theme--ft-web .ft-print-theme ,
.theme--ft-web .ft-video-theme {
    width:0!important; height: 0!important;
    overflow: hidden;
}
