$popover-max-width: 360px;

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/o-charts/src/styles/main";
//todo: pm: work out how to stop using o-charts stylesheet

@import "variables";
@import "login";
@import "import-screen";
@import "chart-panel";
@import "controls-panel";
@import "selection-panel";

@font-face {
    font-family: "BentonSans";
    src: url("http://interactivegraphics.ft-static.com/inc/fonts/BentonSansRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

html, body {
    height: 100%;
    font-size: 16px;
    overflow: hidden;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.block{
    display: block!important;
}

.has-error {
    select {
        color: $state-danger-text;
        background-color: transparentize($state-danger-bg, .5);
    }
}
.tsv-tab {
    background-color: rgba(0, 0, 0, .1);
}

#layout {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.panel {
    margin-bottom: 10px;
    border: none;
    box-shadow: none;
    .panel-heading {
        background-color: transparent;
        padding: 3px 0 0 0;
        border-bottom: none;
        border-top: 4px solid #E2E2E2;
        border-radius: 0;
    }
    .panel-body {
        padding: 10px 0 20px 0;
    }
    .col-50, .col-40, .col-60{
        width: 50%;
        float: left;
    }
    .col-40{
        width: 40%;
    }
    .col-60{
        width: 60%;
    }
}
.view-export-controls .panel-body{
    padding-top: 0;
}

[data-help="MASTER"]{
    background-color: #4781aa;
    border-radius: 16px;
    color: white;
    padding: 1px 6px;
    font-family: serif;
    font-weight: bold;
    margin-left: 3px;
    font-size: 0.9em;
}
.table{
    margin-bottom: 0;
}
