doctype html
html
  meta(name=site.name + ':version', content=site.version)
  title=name
  link(rel='stylesheet', href='styles/index.min.css')
body
  #layout
    #controls
    #charts
    #selection
  script(src='scripts/vendor.min.js')
  script(src='scripts/index.min.js')
  script.
    try{ nightingale();} catch(e) {
    var d = document.createElement('pre');
    var s = d.style;
    s.position = 'fixed', s.zIndex = 2, s.width = '100%'; 
    d.innerHTML = e.stack, document.body.appendChild(d); throw e;}
